* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #003366;
    color: #fff;
}

h1 {
    font-size: 2rem;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.map-container {
    width: 80%;
    max-width: 1000px;
    margin: 20px;
}

#world-map {
    width: 100%;
    height: auto;
    border: 2px solid #ccc;
}

#info-box {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.9);#info-box p {
        margin: 0;
    }
    
    #info-box.hidden {
        opacity: 0;
        display: none;
    }
    
    #info-box.show {
        opacity: 1;
    }
    
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}





footer {
    text-align: center;
    padding: 10px;
    background-color: #003366;
    color: #fff;
}
